* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
  margin: 0px;
  padding: 0px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes border-flash {
  from {
    border-color: red;
  }
  to {
    border-color: lightgrey;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid grey;
}

.brand-name {
  font-size: 22px;
  padding: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.loading-icon {
  font-size: 30px;
  animation: spin 1s linear infinite;
  margin: 10px;
}

.row {
  display: flex;
  column-gap: 10px;
}

.letter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border: 2px solid lightgrey;
  font-size: 22px;
  font-weight: bold;
}

.correct-letter {
  background-color: green;
  color: white;
}

.wrong-letter {
  background-color: grey;
  color: white;
}

.close-letter {
  background-color: orange;
  color: white;
}

.hidden {
  visibility: hidden;
}

.invalid-word {
  animation: border-flash 1s;
}
